body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/848/394/415/wood-background-wallpaper-preview.jpg");
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}